body{
    padding: 0;
    margin: 0;
    background-color: rgb(33, 33, 33);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pokemon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 400px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    overflow: hidden;
}
  
.pokemon-img {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.pokemon-img img {
    max-width: 100%;
    max-height: 100%;
}
  
.pokemon-status {
    width: 90%;
    height: 40%;
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #000;

}
  
.pokemon-status h2 {
    margin-left: 15px;
    font-weight: bold;
}
  
.pokemon-status p {
    margin-left: 15px;
    color: rgb(25, 101, 0);
    font-weight: bold;
}

.pokemon-status p1 {
    margin-left: 15px;
    background-color: rgb(25, 101, 0);
    padding: 3px;
    margin: 15px;
    color: black;
    font-weight: bold;
}

.pokemon-status p2 {
    margin-left: 15px;
    background-color: rgb(101, 0, 86);
    padding: 3px;
    margin: 15px;
    color: white;
    font-weight: bold;
}